.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  /* margin-block-end: -2rem; */
  padding-block: 1rem;


  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo, .header__nav {
  height: 1.5rem;
  width: auto;
}