
.hero {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero__body {
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem;
  background-color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
  transform: translateY(50%);
}


