.services {
  margin-block: 8rem 3rem;
  width: 90%;
  margin-inline: auto;
}

.services__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card__img {
  width: 7rem;
  height: auto;
}

.card__body {
  width: 9.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-block-start: 1rem;
}

.card__head {
  width: 28ch;
  font-size: 0.5rem;
}

.card__para--color {
  font-size: 0.5rem;
  color: #F78065;
}